body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  color: #333333;
  font-family: lato, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, sans-serif;
  font-weight: normal;
  font-size: x-large;
  margin: 0;
}

.contentArea {
  width: 90%;
  max-width: 1200px;
  min-width: 640px;
}

img[alt=headerImage] {
  max-width: 100%;
  height: auto;
}

img[alt=appStoreIcon] {
  width: 170px;
  height: 170px;
}

a, a:visited, a:hover, a:active {
  color: #2420d0;
}
