body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #e5e5e5;
  font-family: lato, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, sans-serif;
  font-weight: lighter;
  font-size: xx-large;
}
